body {
  background-image: url(https://images.pexels.com/photos/544917/pexels-photo-544917.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1500);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: whitesmoke;
  text-align: center;
  margin: 30px;
  font-style: italic;
}

.container {
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.neu {
  margin: 20px;
  padding: 150px;
  background: rgba(202, 196, 196, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.neu:hover {
  background: rgba(202, 196, 196, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
